@import '../../styles/vars.scss';

.seciontitle-span{
    color: $primaryColor;
    font-size: 32px;
}

.seciontitle-title{
    color: #FFFFFF;
    font-size: 32px;
}

.sectiontitle-wrap{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.sectiontitle-line{
    height: 1px;
    opacity: 0.8;
    background-color: $primaryColor;
}