@import '../../styles/vars.scss';

.pagetitle-column{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pagetitle-title{
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;

    & span{
        color: $primaryColor;
    }
}

.pagetitle-desc{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 200;
}