@media (max-width: 1450px) {
    .contact{
        display: none;
    }
    .info-square{
        display: none;
    }
    .projects-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1300px) {
    .main{
        padding: 10px;
    }


    
}

@media (max-width: 1028px) {
    .me-square--first{
        display: none;
    }
}

@media (max-width: 925px) {
    .info-wrapper{
        flex-direction: column;
    }
}

@media (max-width: 840px) {
    .contacts-wrapper{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 40px;
    }

    .projects-wrap{
        grid-template-columns: repeat(1, 1fr);
    }

    .about-wrapper{
        flex-direction: column
    }

    .square{
        display: none;
    }

    .header__nav{
        display: none;
    }

    
}

@media (max-width: 570px){
    .contacts-text{
        width: 400px;
    }
}

@media (max-width: 430px){
    .quote{
        justify-content: center;
        margin-right: 0;
    }

    .footer-text{
        flex-direction: column;
        gap: 80px;
    }
}