.aboutme{
    margin-top: 50px;
}

.aboutme-row{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.aboutme-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.aboutme-image{
    width: 440px;
    height: 630px;

    opacity: 0.9;
       
}

.aboutme__image-block{
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.aboutme-line{
    width: 330px;
}

.aboutme-skills{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.aboutme-skills--block{
    display: flex;
    justify-content: space-between;
}